aniso8601==3.0.0
Flask==0.10.1
Flask-Cors==3.0.4
Flask-PyMongo==0.3.1
Flask-RESTful==0.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
marshmallow==2.15.0
pymongo==2.9.5
pytz==2018.4
six==1.11.0
uWSGI==2.0.17
Werkzeug==0.14.1
